{% extends 'base_main.html' %}
{% load posts_tags %}

{% block cont %}

			<div class="article-panel">
<p class="last" style="display: contents; color: rgb(79, 158, 226);">
	Кликаем по фото</p>
<p class="last"><a href="{{ 'add/' }}">Добавить пост</a></p>
			</div>

<div class="content-text">
	<ul class="list-articles">
		{% for p in posts %}
				<li>
					{% if p.photo %}
					<a href="{{ p.get_absolute_url }}">
						<img class="img-article-left thumb" src="{{ p.photo.url }}">
					</a>
					{% endif %}
					<h2>{{p.title}}</h2>
					{% autoescape off %}
					{{p.content|markdown|truncatewords_html:40}}
					{% endautoescape %}
				</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}



