/* слайдер */

/* .carousel-item {
    height: 20rem;
}

.home-slider {
    padding: 0;
} */

/* .home-slider h5{
    font-size: 60px;
}

.home-slider p{
    font-size: 30px;
} */

/* .carousel-caption {
    bottom: 100px;
}

.carousel-item {
    height: 20rem;
} */

.main-link {
    color: yellow; /* Желтый цвет */
    text-decoration: none; /* Убираем подчеркивание */
}

.main-link:hover {
    color: red; /* Красный цвет при наведении */
}
